<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@nickname}さんのお気に入り一覧"%>
      </h2>
      <table class="table">
       <%= render partial: 'favorite', collection: @favorites %>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@nickname}さんの登録一覧"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'food', collection: @user.foods %>
      </div>
    </div>
  </div>
</div>