<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@nickname}さんのお気に入り一覧"%>
      </h2>
      <div class="user__card">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="top">食品名</th>
            <th class="top">カロリー<br>(kcal)</th>
            <th class="top">タンパク質<br>(g)</th>
            <th class="top">脂質<br>(g)</th>
            <th class="top">炭水化物<br>(g)</th>
            <th class="top">ビタミンA<br>(mg)</th>
            <th class="top">ビタミンB1<br>(mg)</th>
            <th class="top">ビタミンB2<br>(mg)</th>
            <th class="top">ビタミンC<br>(mg)</th>
            <th class="top">ナトリウム<br>(mg)</th>
            <th class="top">カルシウム<br>(mg)</th>
            <th class="top">鉄<br>(mg)</th>
            <th class="top">亜鉛<br>(mg)</th>
            <td class="top">食塩相当量<br>(g)</td>
          </tr>
        </thead>
       <%= render partial: 'favorite', collection: @favorites %>
      </table>
      </div>
      <h2 class="page-heading">
        <%= "#{@nickname}さんの登録一覧"%>
      </h2>
      <div class="user__card">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="top">食品名</th>
            <th class="top">カロリー<br>(g)</th>
            <th class="top">タンパク質<br>(g)</th>
            <th class="top">脂質<br>(g)</th>
            <th class="top">炭水化物<br>(g)</th>
            <th class="top">ビタミンA<br>(mg)</th>
            <th class="top">ビタミンB1<br>(mg)</th>
            <th class="top">ビタミンB2<br>(mg)</th>
            <th class="top">ビタミンC<br>(mg)</th>
            <th class="top">ナトリウム<br>(mg)</th>
            <th class="top">カルシウム<br>(mg)</th>
            <th class="top">鉄<br>(mg)</th>
            <th class="top">亜鉛<br>(mg)</th>
            <td class="top">食塩相当量<br>(g)</td>
          </tr>
        </thead>
        <%= render partial: 'food', collection: @user.foods %>
        </table>
      </div>
    </div>
  </div>
</div>