<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">食品登録</h2>
      <p class='page-explain'>
      ※栄養素は食品100gあたりの数値を半角で入力してください
    </p>
        <%= render partial: "edit_form", locals: { food: @food } %>
    </div>
  </div>
</div>