<main class="main">
  <div class="inner">
    <div class='title-contents'>
       <h5 class='sub-title'>
        let's
      </h5>    
      <h1 class='service-title'>
        POWER UP
      </h1>    
    </div>
    <div class='search-bar-contents'>
      <%= form_with(url: search_food_path(@food.ids), local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "食品を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
  </div>
</main>
